/*body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-cursive);    
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1;
    color: var(--text-color);
}
*/
/* styles/main.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--font-green);
    /*color: #333; /* Text color */
    background-color: var(--neutral-color);
}

/* Navbar Styles */
.navbar {
    background-color: var(--neutral-color);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2000;
}

/* Set flex properties for ul */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: space-between; /* Space out items */
    align-items: center; /* Center items vertically */
}

/* Logo Styles */
.logo-nav {
    height: 50px;
    padding-left: 10px;
    background-color: transparent;
}

/* Link Styles */
.navbar a {
    color: var(--font-green);
    font-weight: bold;
    text-decoration: none;
    padding-right: 10px;
}

/* Video Container */
.video-container {
    margin-top: -80px; /* Remove negative margin */
    position: relative;
    height: 60vh; /* Adjust height as needed */
    overflow: hidden; /* Hide overflowing content */
    z-index: 1; /* Set lower than navbar */
}

.banner-video {
    width: 100%; /* Full width of the screen */
    height: 100%; /* Full height of the container */
    object-fit: cover; /* Cover the entire container */
    z-index: 0;

}

.logo-display{
    position:relative;
    background: linear-gradient(to bottom, var(--red-more-transparent) 0%, var(--neutral-color,) 80%);
    width: 60%; /* Full width of the screen */
    height: 80%; /* Full height of the container */
    object-fit: cover;
    padding: 10px 80px 10px 80px;
}

main .logo-display{
    background-color: transparent;
}

.branch-separator{
    background-color: transparent;
    width: 90%;
    padding: 10px 20px;
}

main {
    color: var(--font-green);
    background-color: var(--neutral-color);
    position: relative; /* Allows for stacking context */
    z-index: 1; /* Higher than video container */
    padding: 20px; /* Add some padding for better visibility */
    padding-top: 0px;
    transition: transform 0.3s ease; /* Swift transition */
}



.card-category h1{
    text-align:center;
    margin-top: 0px;

}



.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(2, 64, 14, 0.303);
    margin-bottom: 10px;
}

/* Carousel */
.carousel {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

/* Card */
.card {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card h2{
    color: var(--font-green);
    margin-top: 0px;
    text-align: center;
}

.card-text {
    color: var(--font-brown);
    text-align: justify;
    padding: 10px;
}

/* Carousel Navigation Buttons */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(7, 58, 60, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.map-container {
    margin-top: 10px; /* Adds some spacing above the map */
    border: 1px solid #ccc; /* Optional border */
    border-radius: 8px; /* Optional border radius */
    overflow: hidden; /* Ensures the corners are rounded */
}

.show-map {
    display: block;              /* Makes the button a block element */
    background-color: var(--green-transparent);
    color: var(--neutral-color);
    border-style: none;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(2, 15, 64, 0.219);
    margin: 10px auto;           /* Centers the button horizontally */
    text-align: center;          /* Ensures the text is centered within the button */
}


.about-us {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color-transparent);
    color: var(--neutral-color);
    border-radius: 10px;
}

.about-us h3{
    margin-top: 5px;

}

.about-us p{
    text-align: justify;
}

.about-us a{
    text-align: center;
    color: var(--neutral-color);
}

.about-us img{
    width: 70%;
    border-style: none;
    border-color: transparent;
    border-radius: 10px;
}

.apartment img{
    width: 100%;
}

.apartment .card{
    padding: 5px;
    background-color: var(--neutral-color-transparent);
}


.about-developer{
    margin-top: 30px;
    width: 100%;
    color: var(--font-brown);
    background-color: var(--neutral-color-transparent);
    border-radius: 20px;
}

.about-developer p{
    padding: 20px;
    text-align: center;
}

.about-developer a{
    color: var(--font-brown);
    text-decoration: none;
}